html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0px;
}

.main-background {
  width: 100%;
  height: 500px;
  background-image: url(../img/shoes.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-attachment: fixed; */
  /* filter: brightness(70%); */
  padding-top: 1px; // *margin collapse 현상을 해결하기 위해서, 테두리를 안 붙게 설정!

  position: relative;
}

.main-title {
  color: white;
  font-size: 40px;
  margin-top: 100px;
  text-align: center;
}

.main-content {
  color: white;
  text-align: center;
}

.main-button {
  /* display: block;
  margin-left: auto;
  margin-right: auto; */

  padding: 15px;
  font-size: 20px;
  background: white;
  border: none;
  border-radius: 5px;

  /* position: relative; // (position 부여하면) 1. 좌표이동 가능   2. 공중에 붕 뜸
  top: 100px; */

  /* 
    * (postion: absolute의 뜻) 내 부모 태그 중에 position: relative를 가진 부모 기준으로 좌표이동!
    * (position: absolute를 준) 요소를 가운데 정렬 하려면 -> 
  */
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

.explain-box {
  /* width: 700px; */
  width: 80%;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  text-align: center;
  background-color: #eee;
  /* margin-top: -40px; */
  position: relative;
  top: -40px;
}

/*
  input[type=text] {
    padding: 10px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 5px;
  } 
  -> input[속성명=속성값] 
  -> <input> 태그의 type이 text인 요소에만 해당 CSS 스타일 적용!
*/
.text-input {
  padding: 10px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 5px;
}
